@page "/Home/Contracts" 
@inject IMessageService _message 
@inject ModalService _modalService 
@inject Blazored.LocalStorage.ILocalStorageService _localStorage

@using AntDesign


<Button Type="primary" OnClick="@ShowModal"> 
     Добавить Заказ 
 </Button>
<AntList DataSource="@ContractList">
    <Card style="background-color:whitesmoke; width:100%;" Bordered Title=@("Номер контракта " + context.Id.ToString()) > 
         <Body> 
             <GridRow> 
                 <GridCol Flex="4" style="max-width:80%"> 
                     Тип контракта : @context.ContractType
                     <br />
                     Дата начала : @context.ContractDate
                    <br />
                     Дата конца : @context.ExpirationDate
                    <br />
                     Описание: @context.ContractTerms 
                     <br /> 
                     Статус: @context.Status 
                 </GridCol> 
                 <GridCol Flex="1"> 
                     <button style="width:100%" @onclick="() => DeleteContract(context.Id)" type="button" class="btn btn-danger">Удалить</button> 
                     <br />
                    <button style="width:100%" @onclick="() => UpdateContract(context)" type="button" class="btn btn-warning">Изменить</button>
                </GridCol> 
             </GridRow> 
         </Body> 
     </Card> 
 </AntList> 

 <Pagination PageIndex="@PageIndex" Total="50" OnChange="OnChange"></Pagination> 

 <Modal Title="@("Редактирование Контракт")" 
        @bind-Visible="@RedactVisible" 
        OnOk="@RedactOk" 
        OnCancel="@RedactCansel"> 
     <Form Model="@redactModel" 
           LabelColSpan="8" 
           WrapperColSpan="16" 
           OnFinish="RedactOnFinish" 
           @ref="@redactForm"> 
         <FormItem Label="Contract ID"> 
             <Input disabled="true" @bind-Value="@redactModel.Id" Rows="4" /> 
         </FormItem> 
         <FormItem Label="Условия договора"> 
             <InputTextArea style="resize:none; width:100%" @bind-Value="@redactModel.ContractTerms" Rows="6" /> 
         </FormItem> 
         <FormItem Label="Order Status"> 
             <Switch @bind-Checked="redactModel.Status" /> 
         </FormItem>
        <FormItem Label="Тип договора">
            <Select DataSource="@list"
                    @bind-Value="redactModel.ContractType"
                    ValueName="Value"
                    LabelName="Name"
                    Placeholder="Тип договора"
                    Style="width:200px"
                    AllowClear />
        </FormItem>
     </Form> 
 </Modal> 

 <Modal Title="@("Добавление контракта")" 
        @bind-Visible="@_visible" 
        OnOk="@HandleOk" 
        OnCancel="@HandleCancel"> 
     <Form Model="@model" 
           LabelColSpan="8" 
           WrapperColSpan="16" 
           OnFinish="OnFinish" 
           @ref="@_form"> 
         <FormItem Label="Условия договора"> 
             <InputTextArea style="resize:none; width:100%" @bind-Value="@model.contractTerms" Rows="6" /> 
         </FormItem>
        <FormItem Label="Время действия контракта">
            <RangePicker TValue="DateTime?[]"
                         Value="@(GetRange(model))"
                         OnChange="@(args => SetRange(model, args.Dates))">
                <SuffixIcon>
                    <Icon Type="calendar" Theme="twotone" />
                </SuffixIcon>
            </RangePicker>

        </FormItem>
        <FormItem Label="Тип договора">
            <Select DataSource="@list"
                    @bind-Value="model.contractType"
                    ValueName="Value"
                    LabelName="Name"
                    Placeholder="Тип договора"
                    Style="width:200px"
                    AllowClear />
        </FormItem>
     </Form> 
 </Modal>